.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--body-background);
  transition: all 0.2s linear;
}

.root > main {
  margin-top: 78px;
}

.root > div {
  flex: 1;
  padding: 50px 200px;
  margin: 58px 0px;
  color: var(--text-color);
}
