.markdown-body > * {
  font-size: 1.1em;
}

.markdown-body > pre {
  margin-bottom: 2em;
}

.markdown-body img {
  height: auto;
  object-fit: scale-down;
  max-width: 100%;
  display: block;
  margin: 0px auto;
  max-height: 500px;
  border-radius: 0.3rem;
}

.markdown-body code {
  background: rgb(40, 44, 52);
  color: var(--text-accent-color);
  padding: 3px 5px;
}

.markdown-body pre > pre > code {
  padding: 0px;
}

.markdown-body > p > code {
  background: rgb(40, 44, 52);
  padding: 3px 5px;
}

.markdown-body ul {
  padding-inline-start: 0px;
}

@media (max-width: 750px) {
  .root {
    margin: 50px 0px !important;
    padding: 20px !important;
  }

  .markdown-body ul {
    padding-inline-start: 10px;
  }

  .markdown-body > p > code {
    font-size: 1em;
  }
}
