.root {
  display: flex;
  flex-direction: column;
  width: 426px;
  min-height: 150px;
  height: 100%;
  padding: 16px;
  margin: 10px;
  border-radius: 6px;
  font-size: 16px;
}

.root:hover {
  padding: 15px;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-elevation-medium);
  background-color: var(--body-background-hover);
  transition: box-shadow 0.1s linear, background-color 0.1s linear,
    border-color 0.1s linear;
}

.root img {
  width: 100%;
}

.image {
  min-height: 208px;
}

.text-container {
  margin-top: 10px;
}

.title {
  font-weight: 600;
  letter-spacing: 0.8px;
}

.description {
  margin: 8px 0px 16px 0px;
  font-size: 14px;
  color: var(--text-desc-color);
  display: flex;
  flex: 1;
}

@media (max-width: 600px) {
  .root {
    margin-left: 0px;
    margin-right: 0px;
  }
}
