.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--body-background);
  transition: all 0.2s linear;
}

.projects,
.posts,
.stackoverflow,
.about {
  padding: 20px 50px;
  width: 100%;
}

.about {
  max-width: 590px;
  padding-bottom: 0px;
}

.projects h3,
.posts h3,
.stackoverflow h3 {
  margin: 15px;
  letter-spacing: 1.2px;
  font-weight: 600;
  text-align: left;
  font-size: 1.5em;
  color: var(--text-color);
}

.me {
  font-weight: 800;
  font-size: 3em;
  font-family: 'Playfair Display';
  color: var(--text-color);
  margin-bottom: 0px;
  margin-top: 0px;
}

.name-container {
  position: relative;
  display: inline;
}

.name {
  color: var(--accent);
  margin: 0px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.name::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  bottom: 0;
  left: 10px;
  background: var(--accent);
  animation: expand 0.8s ease-out;
  animation-fill-mode: forwards;
}

.label::before {
  content: '|';
  font-weight: 600;
  font-size: 1.2em;
  margin-right: 10px;
  color: var(--accent);
}

.stackoverflow {
  padding: 20px 30px;
}

.contentList {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .projects,
  .posts,
  .stackoverflow,
  .about {
    padding: 5px 10px;
  }

  .projects h3,
  .posts h3,
  .stackoverflow h3 {
    margin-left: 0px;
  }

  .me {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
}

@keyframes expand {
  100% {
    width: 95%;
  }
}
