.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--body-background);
  transition: all 0.2s linear;
}

.projects,
.posts,
.about {
  padding: 20px 80px;
  width: 100%;
}

.fprojects {
  padding: 20px 80px;
  width: 100%;
}

.about {
  display: flex;
  justify-content: space-between;
}

.activity {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.fprojects h3,
.projects h3,
.posts h3 {
  letter-spacing: 1.2px;
  font-weight: 600;
  text-align: left;
  font-size: 1.5em;
  color: var(--text-color);
  display: block;
}

.introduction {
  max-width: 500px;
  padding-bottom: 0px;
  font-weight: 800;
  font-size: 3em;
  font-family: 'Playfair Display';
  color: var(--text-color);
  margin-bottom: 0px;
  margin-top: 0px;
}

.name-container {
  position: relative;
  display: inline;
}

.name {
  color: var(--accent-body-text);
  margin: 0px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.name::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  bottom: 0;
  left: 10px;
  background: var(--accent-body-text);
  animation: expand 0.8s ease-out;
  animation-fill-mode: forwards;
}

.label {
  width: fit-content;
  margin-bottom: 30px;
  position: relative;
}

.label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: var(--accent-body-text);

  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.label::after {
  content: '';
  position: absolute;
  width: calc(100% - 26px);
  bottom: -5px;
  left: 26px;
  border-bottom: 1px solid var(--accent-body-text);
}

.contentList {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .activity {
    flex-direction: column;
  }

  .fprojects {
    padding: 20px 50px;
  }

  .fprojects,
  .projects,
  .posts {
    margin-top: 50px;
  }
}

@media (max-width: 850px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    margin-left: 0px;
  }

  .activity {
    margin-top: 25px;
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .fprojects,
  .projects,
  .posts {
    padding: 5px 10px;
  }

  .fprojects h3,
  .projects h3,
  .posts h3 {
    margin-left: 10px;
  }

  .fprojects h3 {
    margin-top: 40px;
  }

  .introduction {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
}

@media (max-width: 350px) {
  .label::before {
    content: none;
  }

  .label::after {
    width: 100%;
    left: 0;
  }
}

@keyframes expand {
  100% {
    width: 95%;
  }
}
