.root {
  margin-right: 50px;
  padding: 15px 0px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 900;
}

.is-scrolled {
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in;
}

.root svg {
  margin: 0px 40px;
  fill: rgb(220, 220, 210);
  vertical-align: top;
}

.root svg:hover {
  fill: rgb(240, 240, 220);
}

.root button {
  all: unset;
}

@media (max-width: 600px) {
  .root {
    display: block;
    text-align: center;
  }

  .root svg {
    margin: 0px 25px;
  }
}
