.root {
  min-width: 100%;
  margin-right: 50px;
  padding: 15px 0px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 900;
  background-color: var(--body-background);
}

.is-scrolled {
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in;
}

.root svg {
  margin: 0px 40px;
  fill: var(--text-color);
}

.root svg:hover {
  fill: var(--accent-body-text);
}

.root button {
  all: unset;
}

.root a {
  color: var(--text-color);
  margin: 0px 40px;
  font-family: 'Playfair Display';
  font-size: 1.25em;
  letter-spacing: 3px;
  display: inline-block;
  transition: color 0.2s linear;
}

.root a:hover {
  color: var(--accent-body-text);
  border-bottom: 1px solid var(--accent-body-text);
}

.navigation-item {
  margin-right: 50px;
}

@media (max-width: 600px) {
  .root {
    display: block;
    text-align: center;
  }

  .root svg {
    margin: 0px 25px;
  }
}
