html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  width: 100%;
  height: 100%;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

a {
  color: rgb(0,0,150);
  text-decoration: none;
}

header {
  top: 10px;
  min-width: 100%;
  margin: auto;
  background-color: rgba(49,49,94); 
}

main {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  padding: 50px 0px;
  margin-top: 20px;
  background-color: rgba(49,49,94); 
  text-align: center;
  color: rgb(200,200,200);
  font-size: 14px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}



@media (max-width: 600px) { 
  main {
    padding: 5px;
  }

  footer {
    padding: 30px 0px;
  }
}
