.projects, .posts {
  padding: 0px 30px;
}

.posts {
  padding: 20px 30px;
}

.header-icons {
  margin-right: 50px;
  padding: 5px 0px;
  text-align: right;
}

.header-icons svg {
  margin: 0px 20px;
  fill: rgb(220,220,210);
}

.header-icons svg:hover {
  fill: rgb(240,240,220);
}

.repo-list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.repo-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 426px;
  min-height: 150px;
  padding: 16px;
  margin: 10px;
  border: 1px solid rgb(208,215,222); 
  border-radius: 6px;
  font-size: 16px;
}

.repo-card .title {
  font-weight: bold;
  display: flex;
}

.repo-card .title svg {
  margin-right: 5px;
}

.repo-card .description {
  margin: 8px 0px 16px 0px;
  font-size: 14px;
  color: rgb(90,95,105); 
  display: flex;
  flex: 1;
}

.repo-card .footer {
  font-size: 14px;
  color: rgb(90,95,105);
}

.repo-card .footer span {
  display: inline-block;  
}

.repo-card .footer svg {
  align-items: center;
  vertical-align: text-top;
  margin-right: 4px;
  fill: rgb(90,95,105);
}

.repo-card .footer .section {
  margin-right: 20px;
}

.repo-card .footer .yellow-circle {
  background-color: #f1e05a;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.post-list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 600px) { 
  .projects, .posts {
    padding: 5px 10px;  
  }

  .projects h3, .posts h3 {
    text-align: center;
  }

  .header-icons {
    text-align: center;
    margin-right: 0px;
  }

  .repo-list {
    align-items: center;
  }

  .repo-card {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .post-list {
    align-items: center;
  }
}